

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to top,#031740 100px, #030F26 100px, #F2A341, #F29441 );
    
    background-size:100% ;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.caixa-login{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 300px;
    padding: 40px;
    border-radius: 50px 10px 50px 10px;
    box-shadow: 0 20px 20px;
    position: relative;
}

.caixa-login h2{
    color: white;
    text-align: center;
    margin: 20px 0 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

.caixa-login .campo > input{
    width: 100%;
    padding: 7px;
    font-size: 17px;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.caixa-login .campo{
    position: relative;
}
.caixa-login .campo > label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    pointer-events: none;
    transition: 0.5s;
    margin-top: -25px;
}

#checkbox2{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

.caixa-login button{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    color: white;
    background-color: #F2A341;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cadastro {
    font-weight: bold;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

